<nav class="nav flex-column sidebar">
<!--  <a class="nav-link links" href="#"></a>-->
  <li><a class="nav-link links text-white" routerLink="/dashboard">Dashboard</a></li>
  <a class="nav-link links" href="#"></a>
  <li><a class="nav-link links text-white" routerLink="/student">Students</a></li>
  <a class="nav-link " href="#"></a>
  <li><a class="nav-link links text-white" routerLink="/tickets">Tickets</a></li>
  <li><a class="nav-link links text-white" routerLink="/dashboard">Bookings</a></li>
  <!--  <li><a class="nav-link links text-white" routerLink="register">Register</a></li>-->
</nav>
