
<div class="container-fluid">
  <div class="row">

    <!-- Image link on the left side -->
    <div class="col-md-6" style="background-color: #08A7FD">
        <img class="image-link" src="./assets/bus_illustration.png" alt="Image">
      <p class="text-center hero">Purchase Ticket With Great Ease! <br> <span class="station">No waiting at the bus station</span> </p>
    </div>

    <!-- Login form on the right side -->
    <div class="col-md-6">
      <div class="card-body form-body">
        <img class="logo" src="./assets/buk_logo.png" alt="logo Image">
        <form (ngSubmit)="submitHandler(form)" #myForm = 'ngForm'>
          <h3 class="mb-3 mt-0 text-center h3-text-grey">Welcome Back </h3>
          <p class="text-center p-text-grey">Please enter your details</p>
          <ng-template [ngIf]="errorMessage">
            <div class="alert alert-danger" role="alert">
              {{ errorMessage ? errorMessage :'' }}
            </div>
          </ng-template>

          <div>
<!--            <label for="regNumber" class="form-label">Registration Number</label>-->
            <input type="text"   [(ngModel)]="form.regNumber" #regNumber="ngModel"  required class="form-control input-group-lg" name="regNumber" id="regNumber" placeholder="CST/18/COM/00192">

          </div>
          <!--            -->
          <div *ngIf="regNumber.invalid && (regNumber.dirty || regNumber.touched)" class="pt-1">
            <p *ngIf="regNumber.errors?.['required']"  class="text-danger" >
              Reg Number is required.
            </p>
          </div>


<!--          -->
          <div class="mt-4">
<!--            <label for="password" class="form-label">Password</label>-->
            <input type="password"  [(ngModel)]="form.password" #password="ngModel" placeholder="Password"  required class="form-control input-group-lg" name="password" id="password">
          </div>
          <div *ngIf="password.invalid && (password.dirty || password.touched)" class="pt-1">
            <p *ngIf="password.errors?.['required']"  class="text-danger" >
              Password is required.
            </p>
          </div>
          <!--      btn-->
          <br>
          <button type="submit" [disabled]="myForm.form.invalid"  name="submit" class="btn btn-primary custom-btn btn-block mt-3"> {{ loading ? 'Submitting' : 'Login'}}  </button>
        </form>
      </div>
    </div>
  </div>
</div>
