<div  class="container-fluid" >
  <div class="row" >
    <div class="col-md-4">
      <app-side-nav></app-side-nav>
    </div>
    <div class="col-md-8" >
      <div class="card">
        <div class="card-header">
          Booking Details
        </div>
        <div class="card-body">
          <h5 class="card-title">Booking Confirmation for {{uniqueId }}</h5>
          <p class="card-text">Thank you for booking with us!</p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><span>Book date: &nbsp;</span> {{book.createdAt | date}} </li>
            <li class="list-group-item"><span>From</span>: &nbsp; {{book.from}}</li>
            <li class="list-group-item"><span>To</span>:  &nbsp;{{book.to}}</li>
            <li class="list-group-item"><span>Time</span>:  &nbsp;{{book.time}}</li>
            <li class="list-group-item"><span>Amount Paid</span>:  &nbsp; &#8358;{{amount}}</li>
            <li class="list-group-item"><span>Number of Seats</span>:  &nbsp;{{seat_number}}</li>
          </ul>
          <div class="mt-3">
            <button type="submit" class="btn btn-primary">Download</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
