<nav class="navbar navbar-expand-lg white">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="color: #000">BUK E-Ticket Reservation System</a>
    <button style="color: white" class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span style="color: white" class="navbar-toggler-icon "></span>
    </button>
    <div class="collapse navbar-collapse  " id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2   mb-lg-0">
        <ng-template [ngIf]="!isAuthenticated()" >
        <li><a class="nav-link links  text-white" routerLink="/">Home</a></li>
        </ng-template>
        <ng-template [ngIf]="isAuthenticated()" >

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <span style="color: #08A7FD; font-weight: bold">Hi,  {{email()}}</span>
          </a>
          <ul class="dropdown-menu">
<!--            <li *ngIf="!isAdmin()"  class="" ><a class="dropdown-item" href="#"></a></li>-->
            <li  *ngIf="!isAdmin()"><a class= "dropdown-item" href="#" routerLink="/wallet">Wallet</a></li>

<!--            <li *ngIf="!isAdmin()"><a class="dropdown-item" href="#"></a></li>-->
            <li  *ngIf="!isAdmin()"><a class= "dropdown-item" href="#" routerLink="/history">Transaction History</a></li>

            <li  *ngIf="isAdmin()"><a class= "dropdown-item" href="#" routerLink="/student">Manage Student</a></li>

            <li *ngIf="isAdmin()"><a class="dropdown-item" href="#">Manage Tickets</a></li>
            <li *ngIf="isAdmin()"><a class="dropdown-item links" href="/dashboard">Dashboard</a></li>

            <li><hr class="dropdown-divider"></li>
            <li (click)="logout()" ><a class="dropdown-item" href="#">Logout</a></li>
          </ul>
        </li>
        </ng-template>

        <ng-template [ngIf]="!isAuthenticated()" >
          <li class="nav-item">
          <li><a class="nav-link links text-white" routerLink="register">Register</a></li>
          <li class="nav-item">
          <li><a class="nav-link  links text-white" routerLink="login">Login</a></li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>
