
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <app-side-nav></app-side-nav>
    </div>
    <!--    -->
    <div class="col-md-4">
      <h4 class="my-4 text-center mb-5">Balance: &#8358; {{walletBalance}}.00</h4>
      <p class="text-center">Wallet ID: {{walletId}}</p>
      <div class="card mt-8" style="margin-left: 100px">
        <div class="card-body">
          <h4 class="text-danger text-center"> {{ errorMessage ? errorMessage :'' }} </h4>
          <form (ngSubmit)="payWithPaystack()" #myForm = 'ngForm'>
            <h5 class="mb-3 mt-0 mb-5">Add Fund</h5>
            <div>
<!--              <label for="amount" class="form-label">Amount</label>-->
              <input type="number"   [(ngModel)]="form.amount" #amount="ngModel"  required class="form-control" name="amount" id="amount" placeholder="Amount">
            </div>
            <!--            -->
            <div *ngIf="amount.invalid && (amount.dirty || amount.touched)" class="pt-1">
              <p *ngIf="amount.errors?.['required']"  class="text-danger" >
                amount is required.
              </p>
            </div>
            <!--      btn-->
            <button type="submit" [disabled]="myForm.form.invalid"  name="submit" class="btn btn-primary custom-btn btn-block mt-3"> {{ loading ? 'Submitting' : 'Add Fund'}}  </button>
            <a type="button" href="" routerLink="/wallet-transfer"  class="btn btn-primary custom-btn btn-block mt-3"> Send Money</a>
          </form>
        </div>
      </div>
    </div>
    <!--    -->
  </div>
</div>
